@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out;
}

.background-gif {
  background-image: url("../assets/warp.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
